<% var postCount = 0; %>
<section class="archives-wrap">
    <div class="archives">
<% page.posts.each(function(post, i) { %>
    <% postCount++; %>
    <% if (postCount % 2 == 1) { %>
        <div class="article-row">
    <% } %>
        <%- partial('summary', { post: post }) %>
    <% if (postCount == page.posts.length || postCount % 2 == 0) { %>
        </div>
    <% } %>
<% }) %>
<% if (page.posts.length) { %>
    </div></section>
<% } %>
<% if (page.total > 1) { %>
    <nav id="page-nav">
        <%- paginator({prev_text: '&laquo;', next_text: '&raquo;'}) %>
    </nav>
<% } %>
